<div class="w-full bg-gradient-to-t from-gray-200 rounded-[2.5rem] h-48 p-5 my-5">
    <div class= "flex flex-col gap-1 p-5 bg-white border border-stone-200 rounded-2xl w-full h-full">
        <div class="flex gap-1 items-center font-bold">
            <img src="../../assets/icons/rating-icon.png" alt="rating" class="size-5">
            <span>{{ rating }}</span>
        </div>
        <div class="flex text-sm font-bold text-orange-500">
            <span *ngFor="let tag of tags">{{ tag }}, </span>
        </div>
        <div class="flex my-3 text-xs">
            <img src="../../assets/icons/delivery-time-location.png" alt="delivery-time-location" class="w-3">
            <div class="flex flex-col justify-between">
                <span class="font-semibold">
                    <span class="font-black mx-2">Outlet</span>
                    {{ outlet }}
                </span>
                <span class="font-black mx-2">{{ deliveryTime }}</span>
            </div>
        </div>
    </div>
</div>